*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(165, 240, 250), rgb(48,62,143));
    font-family: sans-serif;
    color:white
}
.location,
.degree {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.degree{
    flex-direction: column;
}
.temperature{
    display:flex;
    align-items: center;
    cursor: pointer;
}
.temperature span{
    margin: 10px;
    font-size: 30px;
}
.temperature h2{
    font-size: 40px;
}
.title {
    font-size: 70px;
    text-align: center;
}

.inputForm {
    font-size: 20px;
    padding: 10px;
}

/* .labelAndInput {
    background-color: rgb(48,62,143);
    border-style: none;
    border-radius: 4px;
    padding: 5px;
    color: rgb(127, 193, 202);
    font-size: inherit;
} 

^ you can change this css
*/

.pushable {
    background-color: rgb(48,62,143);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background-color: rgb(77, 113, 190);
    color: white;
    transform: translateY(-6px);
  }
  .pushable {
    outline-offset: 4px;
  }
  .front {
    will-change: transform;
    transition: transform 250ms;
  }
  .pushable:hover .front {
    transform: translateY(-6px);
  }
  .pushable:active .front {
    transform: translateY(-2px);
  }
  .pushable:active .front {
    transform: translateY(-2px);
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }
button {
    margin:0 auto;
    display:block;
}