*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:white;
    background: linear-gradient(-45deg, #f4f76a, #f577a7, #54bde4, #36e6bd);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    font-family: sans-serif;
}

.center{
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

#cityTextbox{
    display: flex;
    position: absolute;
    margin: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.locationCity,
.degree {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.locationCity{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.degree{
    flex-direction: column;
}
.temperature{
    display:flex;
    align-items: center;
    cursor: pointer;
}
.temperature span{
    margin: 10px;
    font-size: 30px;
}
.temperature h2{
    font-size: 40px;
}
.title {
    font-size: 70px;
    text-align: center;
    margin-top: -90px;
}
#loadText {
    padding-bottom: 10vh;
    text-align: center;
}
.layer1_class {
    position: absolute;
    z-index: 1;
    visibility: visible;
}

.layer2_class {
    position: absolute;
    z-index: 2;
    visibility: hidden;
}

.icon {
    padding-top: 15vh;
    padding-bottom: 10vh;
    margin: auto;
    display: flex;
}

.loader {
  margin: auto;
  display: flex;
  border: 16px solid #ffffff;
  border-top: 16px solid #80bce4;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  opacity: 90%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#localButton {
    position: absolute;
    top: 40px;
    left: 10px;
    padding-top: 5px;
}

#local {
    background-color: #54bee41a;
    padding: 3px;
    border-style: solid;
    border-color: #a9e8ff7c;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff;
}

#search {
    background-color: #92b4db81;
    padding: 3px;
    border-style: solid;
    border-color: #a9e8ff7c;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff;
}

#local:hover {
    background-color: #5497e481;
}

#search:hover {
    background-color: #5497e481;
}

h4 {
    margin: auto;
}

#clock {
    margin: auto;
    width: 270px;
    font-size: 30px;
    position: absolute;
    top: -35px;
    padding-top: 10vh;
}

#invalidCity {
    margin: auto;
    font-weight: bold;
    padding-left: 5px;
    color: red;
    opacity: 0%;
}