*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: sans-serif;
    color:white
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.locationCity,
.degree {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.locationCity{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.degree{
    flex-direction: column;
}
.temperature{
    display:flex;
    align-items: center;
    cursor: pointer;
}
.temperature span{
    margin: 10px;
    font-size: 30px;
}
.temperature h2{
    font-size: 40px;
}
.title {
    font-size: 70px;
    text-align: center;
}
#loadText {
    padding-bottom: 10vh;
    text-align: center;
}
.layer1_class {
    position: absolute;
    z-index: 1;
    visibility: visible;
}

.layer2_class {
    position: absolute;
    z-index: 2;
    visibility: hidden;
}

.icon {
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: auto;
    display: flex;
}

.loader {
  margin: auto;
  display: flex;
  border: 16px solid #ffffff;
  border-top: 16px solid #80bce4;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  opacity: 90%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}